nav > a {
  display: inline-block;
  padding: 0.5em;
}

.department-list-item {
  background-color: lavender;
  display: block;
  border-radius: 2em;
  padding: 0.5em;
  margin: 0.5em;
  width: 5em;
  text-align: center;
}
